.body {
    background-color: #FECF73;
}

.topnav {
    background-color: black;
    overflow: hidden;
    border-radius: 1.5em;
    height: 3.5em;
}
 
.topnav a {
    float: right;
    color: whitesmoke;
    text-align: center;
    padding: 0.7em 1em 1em 1em;
    text-decoration: none;
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
    height: 3.5em;
}
  
.topnav a:hover {
    background-color: whitesmoke;
    color: black;
}
 
.topnav a.active {
    background-color:#FECF73;
    color: black;
}

.topnav input[type=text] {
    padding: 0.4em;
    border: none;
    margin-left: 1.7em;
    margin-top: 0.8em;
    font-size: 1em;
    background-color:  whitesmoke;
}

.heading {
    float: left;
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    font-size: 2em;
    margin-left: 1em;
    margin-top: 0.2em;
}

.randomVerse {
    height: max-content;
    width: 60vw;
    background-color: whitesmoke;
    padding: 0.5em 0em 0.3em 0.5em;
    border-radius: 1em;
}

.devanagri {
    margin-left: 4em;
    font-size: 1.4em;
    color: brown;
}

.verse {
    margin-left: 4em;
    font-size: 1.4em;
    color: brown;
    display: none;
    font-family: 'Open Sans', sans-serif;
}


.Img {
    padding-right: 0.5em;
    padding-top: 1em;
    float: left;
    height: 2em;
    width: 2em;

}

.subText {  
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    margin-left: 3em;
    margin-right: 1em;
}

.insights {
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
    margin-left: 3em;
}

#krishna {
    position: -webkit-sticky;
    position: sticky;
    right: 0;
    top: 1em;
    float: right;
    width: 35%;
    margin-top: 1em;
}

.transliteration {
    display: none;
}

.exp {
    display: none;
}

.readMore{
    padding-left: 51em;
}

.bookmark{
    height: 1em;
    width: 0.7em;
    float: right;
}

.bookmarkText {
    font-size: 0.8em;
    font-family: 'Open Sans', sans-serif;
    float: right;
    margin-right: 1em;
    color: black;
    margin-top: -0.2em;
}