.body {
    background-color: #FECF73;
}

.topnav {
    background-color: black;
    overflow: hidden;
    border-radius: 25px;
}
 
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2em;
}
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
 
.topnav a.active {
    background-color:#FECF73;
    color: black;
}

.topnav input[type=text] {
    float: left;
    padding: 6px;
    border: none;
    margin-left: 40px;
    margin-top: 8px;
    font-size: 17px;
  }

.heading {
    font-family: 'Book Antiqua';
    font-size: 4em;
    width: 30vw;
    font-weight: bold;
    padding: 0.3em 0 0.2em 0.5em;
}

.randomVerse {
    height: max-content;
    width: 60vw;
    background-color: #f2f2f2;
    padding: 0.5em 0em 0.3em 0.5em;
    border-radius: 15px;
}

.devanagri {
    margin-left: 4em;
    font-size: 1.4em;
    color: brown;
}

.verse {
    margin-left: 4em;
    font-size: 1.4em;
    color: brown;
}

.Img {
    padding-right: 1vw;
    float: left;
    height: 2em;
    width: 2em;
}

.subText {  /*not working*/
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    margin-left: 3em;
}

#krishna {
    position: -webkit-sticky;
    position: sticky;
    right: 0;
    top: 15px;
    float: right;
    width: 35%;
}